<div class="row toppad" >
	<div class="col-md-2"></div>
	<div class="col-md-8">
	  <div class="panel panel-default">
		<div class="panel-heading">Login SCM </div>
		<div class="form-horizontal">
		  <div class="module form-module">
			<div class="toggle">
			  <div class="tooltip"></div>
			</div>
			<form class="form" ng-submit="login()">
			  <input type="text" placeholder="Username" autofocus="" required ng-model="login_name">
			  <input type="password" class="has-feedback" placeholder="Password" required ng-model="login_pass">
			  <input type="submit" value="Login" class="btn-primary clsbutton" skin=""  >
			  <span id="UControl_lblMess" style="color:Red;"></span>
			</form>
			<div class="cta"><a href="#forgot-password">Forgot your password?</a></div>
		  </div>
		</div>
	  </div>
	</div>
  </div>