<div class="col-md-2 col-lg-2"></div>
<div class="col-md-8 col-lg-8">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span class="glyphicon glyphicon-user"></span> Info User
			</h3>
		</div>
		<div class="panel-body">
			<div class="row">
						<div class="col-md-4 col-lg-4 separator social-login-box " align="center"> <img alt="User Pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-responsive img-thumbnail"></div>
						<div class=" col-md-8 col-lg-8">
							<table class="table table-user-information">
								<tbody>
									<tr>
										<td> <label for="id">ID</label></td>
										<td> <input type="text" class="form-control text-center" disabled value="78888"></td>
									</tr>
									<tr>
										<td><label for="id">Name</label></td>
										<td><input type="text" class="form-control" ng-disabled='infoTable'></td>
									</tr>
									<tr>
										<td><label for="id">Child Department</label></td>
										<td><input type="text" class="form-control" ng-disabled='infoTable'></td>
									</tr>
									<tr>
										<tr>
											<td><label for="id">Job Title</label></td>
											<td><input type="text" class="form-control" ng-disabled='infoTable'></td>
										</tr>
										<tr>
											<td><label for="id">Email</label></td>
											<td><input type="text" class="form-control" disabled></td>
										</tr>
									</tr>
								</tbody>
			
							</table>
						</div>
		</div>
	</div>
	<div class="panel-footer">
				<a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-md btn-primary"><i class="glyphicon glyphicon-refresh"></i></a>
				<span class="pull-right">
																				  <a href data-original-title="Edit this user" data-toggle="tooltip" type="button" ng-class=" infoTable ? 'btn btn-md btn-warning':'btn btn-md btn-success'" ng-click="editInfo()"><i ng-class="infoTable ? 'glyphicon glyphicon-edit' : 'glyphicon glyphicon-ok'"></i></a>
																				  <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-md btn-danger" ng-click="infoTable = true"><i class="glyphicon glyphicon-remove"></i></a>
																			  </span>
			</div>
</div>