<div class="col-md-2">
	<!-- <div class="slide">
		<nav class="navbar navbar-default sidebar" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
			</div>
			<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#!/dashboard/order">Order<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-shopping-cart"></span></a></li>
					<li><a href="#!/dashboard/order-list">Order list<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
					<li><a href="#!/dashboard/notification">Notification<span style="font-size:16px;" class="pull-right hidden-xs showopacity 	glyphicon glyphicon-bell"></span></a></li>
				</ul>
			</div>
		</nav>
	</div> -->
</div>	